@import '../../theme.less';

.page__rank {
    .head {
        position: fixed;
        top: 0;
        width: 750px;
        height: 314px;
        background: #FFFFFF;
        z-index: 99;
        .head-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 52px 50px 40px;
        }
        .select {
            display: flex;
            align-items: center;
            .select-text {
                font-size: 48px;
                color: @color--dark;
                margin-right: 16px;
            }
            .select-icon {
                width: 24px;
                height: 14px;
            }
        }

        .my-rank {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 686px;
            height: 140px;
            padding: 0px 36px;
            margin: 0 auto;
            box-sizing: border-box;
            background: #F3F4FA;
            border-radius: 26px;
            font-size: @text--h4;

            .left {
                display: flex;
                align-items: center;
            }
            .right {
                display: flex;
                align-items: center;
            }

            &-index {
                font-size: 32px;
                font-family: Avenir;
                font-weight: bold;
            }
            &-count {
                font-size: @text--h4;
                color: @color--primary;
                font-weight: bold;
            }
            &-flower {
                width: 68px;
                height: 68px;
            }
            &-avatar {
                width: 84px;
                height: 84px;
                margin: 0 20px;
                border-radius: 84px;
                overflow: hidden;
                background: url('https://image.ff2333.com/ycy/avatar-frame.png');
                background-size: cover;
                background-position: center;
                padding: 8px;
                box-sizing: border-box;
                .avatar-cover {
                    display: block;
                    width: 68px;
                    height: 68px;
                    border-radius: 84px;
                }
            }
        }
    }

    .rank-list {
        padding-top: 314px;
        padding-left: 60px;
        padding-right: 40px;
        box-sizing: border-box;
        overflow: hidden;
    }
}