.page__index {
    .pk-button {
        background: transparent;
        border: 0;
        &-cover {
            width: 280px;
            height: 280px;
            margin: 0 auto;
        }
    }
}